/* CSS Document */
		.banner{
			background-color:#C9C9C9;
			color:#FFFFFF;
		}
		.sub-banner{
			background-color:#C9C9C9;
			color:#FFFFFF;
		}
		a:link {
			text-decoration:none;
			color: white;
		}
		a:visited {
			text-decoration: none;
			color: white;
		}
			a:hover {
				text-decoration:none;
				color:#FF0000;
		}